* {
  font-family: "Courier Prime", monospace;
}
#container {
  width: 400px;
  height: 400px;
  position: relative;
  background-image: url("img/background.png");
  background-size: 50px, 50px;
  background-repeat: repeat;
}
#square {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 110px;
  right: 260px;
  transition: all 500ms linear;
  background-color: red;
}

.flex {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.moveButton {
  margin: 10px 0;
  width: 110px;
  height: 45px;
  background-color: #138496;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 7px;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.log {
  text-align: center;
}

body {
  background-color: darksalmon;
}

.fill {
  width: 150px;
  height: 150px;
  position: relative;
  top: 5px;
  left: 5px;
  background-color: red;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10px;
}

.empty {
  height: 160px;
  width: 160px;
  border: 3px salmon solid;
  background: #fff;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.selectedMove {
  background-color: rgba(19, 132, 149, 0.5);
}

.dragMove {
  border: rgba(244, 244, 244, 1) dashed 2px;
}

.movePlace {
  width: 110px;
  height: 45px;
  margin: 10px 0;
  border-radius: 7px;
  background: red;
}

.noMargin {
  margin: 0;
}
